PORT=10000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key
NODE_ENV=production
CLIENT_URL=https://your-frontend-project.vercel.app
